.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height:97vh;
    background-image: url('./assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    object-fit: cover;
    
}
form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;

}
h1{
    color: rgb(13, 55, 41);
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(5, 46, 32);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;

}